
// Google fonts 
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');


// font-family: 'Lato', sans-serif;
// font-family: 'Poppins', sans-serif;


@mixin border-radious($value){
    border-radius: $value;
    -webkit-border-radius: $value;
    -moz-border-radius: $value;
    -ms-border-radius: $value;
    -o-border-radius: $value;
  }

  
  @mixin trasition ($value){
    transition: all $value ease-in-out;
    -webkit-transition: all $value ease-in-out;
    -moz-transition: all $value ease-in-out;
    -ms-transition: all $value ease-in-out;
    -o-transition: all $value ease-in-out;
  }

  
  @mixin transform-rotate($value){
    transform: rotate($value);
    -webkit-transform: rotate($value);
    -moz-transform: rotate($value);
    -ms-transform: rotate($value);
    -o-transform: rotate($value);
  }


  *{  
      padding: 0;
      margin: 0;
      font-family: 'Poppins', sans-serif;
  }
  
  body{
    padding: 0;
    margin: 0;
  }
   
  img{
    max-width: 100%;
    width: 100%;
    height: 100%;
    max-height: 100%;
  }
  .container{
    padding: 0px 60px;
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
  }
  
  a{
    text-decoration: none
  }
  li{
    list-style: none;
  }
  button{
    border: none;
  }

  p{
    color: #3A3A3A;
     font-family: Poppins;
     font-weight: 600;
     line-height: normal;
  }

  .prm_btn{
    cursor: pointer;
     padding: 15px 40px;
    background: #E02C6D;
    a{text-transform: capitalize;
      color: #FFF;
      font-family: Poppins;
      font-size: 16px;
      font-weight: 700;
      i{margin: 0;
        padding: 0;
        display: inline;
        margin-top: 5px; 
        margin-left: 10px;  
      }
    }
  }

  .btn_radius{
    @include border-radious(100px);
  }
  // ================= Navbar ===================\
  

  .header{
    padding: 50px 0px;
    .head_vnav{
     display: flex;
     justify-content: space-between;
     align-items: center;
     .manubar{
      display: none;
     }
     .navbarend{
        color: #3A3A3A;
        font-size: 24px;
        font-weight: 700;
     }
     .manus{display: flex; 
        .nav_item{
            .nav_link{
              text-transform: capitalize;
                margin-left: 10px;
                color: #3A3A3A;
                 font-size: 16px;
                 font-weight: 600;
            }
        }
     }
     .manu_container{
      display: flex;
     }
     button{
       i{
        font-size: 24px;
        color: #3A3A3A;
       } 
     }
     .shoping{
      margin-left: 20px;
      position: relative;
      .item{
        position: absolute;
        top: -30%;  
        right: -30%;  
        display: block;  
        background: #44bd32;
        height: 15px;
        color: whitesmoke;
        width: 15px;
        @include border-radious(100%);
        font-size: 10px;
      }
     }
    }
  }


  /// bannere section s      
  .banner_container{
    padding: 100px 0px;
    .banner_items{
      display: flex;
      justify-content: space-between;
       .banner_desc{
        max-width: 600px;
        *{
          margin-top: 25px;
        }
       }
      .banner_title{
       color: #3A3A3A;
       font-size: 52px;
       font-weight: 700;
       line-height: 70px;
      }
      .ban_img{
        max-width: 450px;
      }
    }
  } 


  //  berend  section

  .brend_container{
    padding: 50px 0px;
    .ban_items{
      display: flex;
      justify-content: space-between;
      .ban_item{
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
       width: calc(14.28% - 15px);
       img{
        height: 35px; 
       }
      }
    }
  }



  .popular_container{
    .sec_ti{
      width: 100%;
      padding: 50px 0px;
      text-align: center;
      color: #3A3A3A;
      font-size: 28px;
      font-weight: 600;
      line-height: 70px; 
    }

    .popular_cards{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr ;
      grid-gap: 80px; 

      .popular_card{
        .card_dec{
          .card_title{
            color:#18191F;
            font-size: 28px;
            font-weight: 500;
            line-height: 40px;
          }
          .prize{
            color: rgba(0, 0, 0, 0.87);
             font-size: 24px;
             font-weight: 400;
             line-height: 36px;
          }
          .ratings{
            display: flex;
            align-items: center;
            i{
              font-size: 13px;
              color: #FB8200;
            }
            .points{
              margin-left: 10px;
              color: #5E6366;
               font-size: 14px;
               font-weight: 700;
               line-height: 22px;
               letter-spacing: 0.1px;
            }
          
          }  
           .card_overview{
              max-width: 350px; 
            }
        }
      }

    }

      .se_con{
        display: flex;
        justify-content: end;
        button{
          background: #00000000;
          a{text-transform: capitalize;
            color: #E02C6D ;
          }
        }
      }
  }


.fetures_container{
      padding: 100px 0px;
   .feture_items{
    .desc{
      .banner_desc{
        *{
          margin-top: 15px; 
        }
        max-width: 700px;
      }
    }
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 100px;
   }
}

/// fotter setion 
.footer{
  padding: 80px 0px;
  background-color: #0A0826;
  .fo_art{
    *{
      margin-top: 10px;
    }
    h1{
      color: #FFF;
    font-family: Poppins;
    font-size: 24px;
    font-weight: 700;
    }
    text-align: center;
  }
  p{
    color: #fff;
  }
  .socil_icon{
     width: 100%;
    display: flex;
    justify-content: center;
    a{ cursor: pointer;
      margin-left: 10px;
      i{      
       @include border-radious(100px);
      background: #ffffff6b;
      height: 50px ;
      width: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
        color: white;
        font-size: 20px;
      }
    }
  }
}